* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}
.container {
    display: flex;
    margin: 0px 50px;
    justify-content: center;
}
div.paragraph {
    margin-top: 80px;
    margin-bottom: 20px;
}
.description{
    font-size: large;
    font-weight: bold;
}
h4 {
    font-size: large;
    margin-bottom: 15px;
}
.left {
    display: flex;
}
.right{
    width: 600px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-right: 60px;
    border-radius: 8px;
}
#background {
    height: auto;
    width: 500px;
}
.form {
    margin: 50px 0px;
}
.form-row {
  display: flex;
  gap: 30px;
}
form {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
input {
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
label {
   margin-top: 7.5px;
   margin-bottom: 5px;         /* space between label and input */
   font-size: 14px;
   text-transform: uppercase;   /* optional: makes labels feel sleek */
   letter-spacing: 0.5px; 
}
button {
   margin-top: 25px;
   padding: 6px;
   background-color: #165418;
   color: white;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   width: 12rem;
}
button:hover {
    background-color: white;
    color: #165418;
    border: 0.5px solid #165418;
}
.log-in {
    margin-top: 10px;
}
a#log-in {
    color: #165418;
}
