* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}
.right{
    display: flex;
    justify-content: center;

    margin: 25px;
}
#background {
    height: 100vh;
    width: auto;
}
#logo-overlay {
  position: absolute;
  top: 333px;     /* adjust vertical position */
  left: 170px;    /* adjust horizontal position */
  width: 200px;  /* size of the logo */
}
a#log-in {
    color: aqua;
}
